@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/be-vietnam-pro/400.css";
@import "@fontsource/be-vietnam-pro/500.css";
@import "@fontsource/be-vietnam-pro/700.css";

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}